# stuff the program makes currently
output/
chrome_profile/
screenshots/
*.png
*.pyc

# dotenv
.env

# virtual environments
env/
.venv/
venv/

# IDE stuff
.vscode/
.idea/

# chrome profile 
chrome_profile/

# DOM Output
DOM_output/

back/*
backend/__pycache__
backend/credentials/user_db_config.yaml

# screenshots
*.png

# pychache 
*.pyc

